@model OpenTable.Models.DomainModels.Restaurant
@{
    ViewData["Title"] = "Delete Restaurant";
}
<h2>Delete Restaurant</h2>

<h4>Are you sure you want to delete this?</h4>
<div>
    <h5>@Model.Name</h5>
    <p>Metropolis: @Model.Metropolis?.Name</p>
</div>

<form asp-action="DeleteConfirmed" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
