@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center mt-5">
    <a  asp-controller="Restaurant" asp-action="Index" class="btn btn-primary btn-lg">Find a Table</a>
    <a asp-controller="Reservation" asp-action="List" class="btn btn-danger btn-lg">Manage Reservations</a>
</div>
